/**
 * Created by sunchengbin
 * 项目中通用的东西
 */
body,
button,
input,
select,
textarea {
  font-family: system-ui,
  PingFang SC,
  Helvetica Neue,
  STHeiti,
  sans-serif;
  @include fontSize(12px);
  line-height: 1.5;
  color: $base_font_color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// body {
//   background: linear-gradient(-35deg, #3ad3f9, #7739d0);
// }

.fl {
  float: left;
}

.fr {
  float: right;
}

img {
  width: 100%;
  vertical-align: middle;
}

.block {
  display: block;
}

.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

// 图片懒加载区块样式
.lazy {
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-color: $lazy_bg_color;
  background-size: contain;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: skyblue;
  z-index: 99999;
}