* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  background: transparent;
  outline: none;
}

html,body {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: $link_font_color;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}